<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jorunal_bishe">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许应用程序读取所有者数据 -->
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <!-- 允许应用程序写入所有者数据 -->
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".LocalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".record.RecordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".record.PhotoViewActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".calendar.CalendarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".consume.TodayDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".edit.EditActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".consume.ConsumeDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".budget.BudgetActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".JournalService"
            android:enabled="true"
            android:exported="true"></service>

    </application>

</manifest>